<mat-toolbar class="header mat-elevation-z4"> <!-- "mat-elevation-z4" aplica um efeito de sombra que parece que está "elevado/saindo da tela" -->
    <span>
        <a routerLink="/">
            <img class="logo" src="assets/img/logo.png" alt="logo"> <!-- "/src" é considerada pasta raiz -->
        </a>
    </span>
    <span class="title-group">
        <a>
            <i class="material-icons"> <!-- Para usar ícones do "Material", basta usar esta classe na tag "i" e colocar o nome do ícone dentro -->
                home
            </i>
            Início
        </a>
    </span>
</mat-toolbar>
